{% load static %}

<div class='page-topbar '>
  <a href="/">
    <div class='logo-area'>

    </div>
  </a>
    <div class='quick-area'>
      <div class='pull-left'>
        <ul class="info-menu left-links list-inline list-unstyled">
          <li class="message-toggle-wrapper">

            <ul class="dropdown-menu messages animated fadeIn">

              <li class="list">

                <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                  <li class="unread status-available">
                    <a href="javascript:;">
                      <div class="user-img">
                        <img src="{% static 'data/profile/avatar-1.png' %}" alt="user-image" class="img-circle img-inline">
                      </div>
                      <div>
                        <span class="name">
                          <strong>Clarine Vassar</strong>
                          <span class="time small">- 15 mins ago</span>
                          <span class="profile-status available pull-right"></span>
                        </span>
                        <span class="desc small">
                          Sometimes it takes a lifetime to win a battle.
                        </span>
                      </div>
                    </a>
                  </li>
                  <li class=" status-away">
                    <a href="javascript:;">
                      <div class="user-img">
                        <img src="{% static 'data/profile/avatar-2.png' %}" alt="user-image" class="img-circle img-inline">
                      </div>
                      <div>
                        <span class="name">
                          <strong>Brooks Latshaw</strong>
                          <span class="time small">- 45 mins ago</span>
                          <span class="profile-status away pull-right"></span>
                        </span>
                        <span class="desc small">
                          Sometimes it takes a lifetime to win a battle.
                        </span>
                      </div>
                    </a>
                  </li>
                  <li class=" status-busy">
                    <a href="javascript:;">
                      <div class="user-img">
                        <img src="{% static 'data/profile/avatar-3.png' %}" alt="user-image" class="img-circle img-inline">
                      </div>
                      <div>
                        <span class="name">
                          <strong>Clementina Brodeur</strong>
                          <span class="time small">- 1 hour ago</span>
                          <span class="profile-status busy pull-right"></span>
                        </span>
                        <span class="desc small">
                          Sometimes it takes a lifetime to win a battle.
                        </span>
                      </div>
                    </a>
                  </li>
                  <li class=" status-offline">
                    <a href="javascript:;">
                      <div class="user-img">
                        <img src="{% static 'data/profile/avatar-4.png' %}" alt="user-image" class="img-circle img-inline">
                      </div>
                      <div>
                        <span class="name">
                          <strong>Carri Busey</strong>
                          <span class="time small">- 5 hours ago</span>
                          <span class="profile-status offline pull-right"></span>
                        </span>
                        <span class="desc small">
                          Sometimes it takes a lifetime to win a battle.
                        </span>
                      </div>
                    </a>
                  </li>
                  <li class=" status-offline">
                    <a href="javascript:;">
                      <div class="user-img">
                        <img src="{% static 'data/profile/avatar-5.png' %}" alt="user-image" class="img-circle img-inline">
                      </div>
                      <div>
                        <span class="name">
                          <strong>Melissa Dock</strong>
                          <span class="time small">- Yesterday</span>
                          <span class="profile-status offline pull-right"></span>
                        </span>
                        <span class="desc small">
                          Sometimes it takes a lifetime to win a battle.
                        </span>
                      </div>
                    </a>
                  </li>
                  <li class=" status-available">
                    <a href="javascript:;">
                      <div class="user-img">
                        <img src="{% static 'data/profile/avatar-1.png' %}" alt="user-image" class="img-circle img-inline">
                      </div>
                      <div>
                        <span class="name">
                          <strong>Verdell Rea</strong>
                          <span class="time small">- 14th Mar</span>
                          <span class="profile-status available pull-right"></span>
                        </span>
                        <span class="desc small">
                          Sometimes it takes a lifetime to win a battle.
                        </span>
                      </div>
                    </a>
                  </li>
                  <li class=" status-busy">
                    <a href="javascript:;">
                      <div class="user-img">
                        <img src="{% static 'data/profile/avatar-2.png' %}" alt="user-image" class="img-circle img-inline">
                      </div>
                      <div>
                        <span class="name">
                          <strong>Linette Lheureux</strong>
                          <span class="time small">- 16th Mar</span>
                          <span class="profile-status busy pull-right"></span>
                        </span>
                        <span class="desc small">
                          Sometimes it takes a lifetime to win a battle.
                        </span>
                      </div>
                    </a>
                  </li>
                  <li class=" status-away">
                    <a href="javascript:;">
                      <div class="user-img">
                        <img src="{% static 'data/profile/avatar-3.png' %}" alt="user-image" class="img-circle img-inline">
                      </div>
                      <div>
                        <span class="name">
                          <strong>Araceli Boatright</strong>
                          <span class="time small">- 16th Mar</span>
                          <span class="profile-status away pull-right"></span>
                        </span>
                        <span class="desc small">
                          Sometimes it takes a lifetime to win a battle.
                        </span>
                      </div>
                    </a>
                  </li>

                </ul>

              </li>

              <li class="external">
                <a href="javascript:;">
                  <span>Read All Messages</span>
                </a>
              </li>
            </ul>

          </li>
          <li class="notify-toggle-wrapper">
            <a href="index.html#" data-toggle="dropdown" class="toggle">
              <i class="fa fa-bell"></i>
              <span class="badge badge-accent">3</span>
            </a>
            <ul class="dropdown-menu notifications animated fadeIn">
              <li class="total">
                <span class="small">
                  You have <strong>3</strong> new notifications.
                  <a href="javascript:;" class="pull-right">Mark all as Read</a>
                </span>
              </li>
              <li class="list">

                <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                  <li class="unread available"> <!-- available: success, warning, info, error -->
                    <a href="javascript:;">
                      <div class="notice-icon">
                        <i class="fa fa-check"></i>
                      </div>
                      <div>
                        <span class="name">
                          <strong>Server needs to reboot</strong>
                          <span class="time small">15 mins ago</span>
                        </span>
                      </div>
                    </a>
                  </li>
                  <li class=" busy"> <!-- available: success, warning, info, error -->
                    <a href="javascript:;">
                      <div class="notice-icon">
                        <i class="fa fa-times"></i>
                      </div>
                      <div>
                        <span class="name">
                          <strong>Server IP Blocked</strong>
                          <span class="time small">1 hour ago</span>
                        </span>
                      </div>
                    </a>
                  </li>
                  <li class=" offline"> <!-- available: success, warning, info, error -->
                    <a href="javascript:;">
                      <div class="notice-icon">
                        <i class="fa fa-user"></i>
                      </div>
                      <div>
                        <span class="name">
                          <strong>10 Orders Shipped</strong>
                          <span class="time small">5 hours ago</span>
                        </span>
                      </div>
                    </a>
                  </li>
                  <li class=" offline"> <!-- available: success, warning, info, error -->
                    <a href="javascript:;">
                      <div class="notice-icon">
                        <i class="fa fa-user"></i>
                      </div>
                      <div>
                        <span class="name">
                          <strong>New Comment on blog</strong>
                          <span class="time small">Yesterday</span>
                        </span>
                      </div>
                    </a>
                  </li>
                  <li class=" available"> <!-- available: success, warning, info, error -->
                    <a href="javascript:;">
                      <div class="notice-icon">
                        <i class="fa fa-check"></i>
                      </div>
                      <div>
                        <span class="name">
                          <strong>Great Speed Notify</strong>
                          <span class="time small">14th Mar</span>
                        </span>
                      </div>
                    </a>
                  </li>
                  <li class=" busy"> <!-- available: success, warning, info, error -->
                    <a href="javascript:;">
                      <div class="notice-icon">
                        <i class="fa fa-times"></i>
                      </div>
                      <div>
                        <span class="name">
                          <strong>Team Meeting at 6PM</strong>
                          <span class="time small">16th Mar</span>
                        </span>
                      </div>
                    </a>
                  </li>

                </ul>

              </li>

            </ul>
          </li>

        </ul>
      </div>

    </div>


    <div class="col-md-3 col-sm-12 col-xs-12" style="border-left : 2px solid white;border-right : 2px solid white;padding-left:4%;">
          <a  href="{% url 'logout' %}">
              <h2 style="text-align : right;color: white;"><span data-class="minus-square"><i class="fa fa-adjust" style="font-size : 20px !important;"></i></span> Déconnexion</h2>
          </a>
    </div>

  </div>